.__main-body{
    background-color: #eee;
    min-height: calc(100vh - 14.5rem);
}

.__main-body .__main-body-closer{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.__card-main-container{
    height: 16rem;
    width: 32rem;
    margin: 1rem 0rem 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #ba0000;
    background: floralwhite;
    /* box-shadow: 1px 1px 2px #e55050, -1px -1px 2px #e55050; */
}

.__card-main-container .__card-closer{
    position: relative;
    height: calc(100% - 1rem);
    width: calc(100% - 1rem);
}

.__card-closer .__card-header{
    display: flex;
    align-items: center;
    justify-content: right;
}

.__card-closer .__card-header button{
    font-size: 1.5rem;
    color: floralwhite;
    border-radius: 15px;
    margin: .3rem .5rem;
    transition: all ease .3s;
    border: none;
}

.__card-closer .__card-header .__edit{
    background-color: #3FE215;
}

.__card-closer .__card-header .__delete{
    background-color: red;
}

.__card-closer textarea{
    height: calc(100% - 3rem);
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 600;
    border: none;
    background: transparent;
}

.__card-closer textarea:focus{
    outline: none;
    border: none;
}

.__card-header .__edit:hover{
    color: #3FE215;
    background-color: floralwhite!important;
    border: 1px solid #3FE215;
    transition: all ease .3s;
    cursor: pointer;    
}

.__card-header .__delete:hover{
    background-color: floralwhite!important;
    color: #BA0000;
    border: 1px solid #BA0000;
    transition: all ease .3s;
    border: 1px solid #BA0000;
    cursor: pointer;
}

.hidden{
    display: none;
}

.__card-data{
    font-size: 1.5rem;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 600;
}